.App {
	text-align: center;
}

.state {
	display: flex;
	justify-content: space-evenly;
	margin: 50px 0;
	margin-left: 50%;
	transform: translateX(-50%);
}

.current-letter {
	display: flex;
	font-size: 2rem;
}
